/* Colors */

:root {
    --black: #000000;
    --dark: #444444;
    --gray: #dcdcdc;
    --light-gray: #ebebeb;
    --light: #f0f0f0;
    --white: #ffffff;
    --yellow: #ffe17f;
    --yellow-hover: #ffc700;
    --violet: #af4fff;
    --red: #ff3d3d;
    --orange: #fd912e;
    --green: #08af00;
}


/* цвета внесла все, что были указаны в палитре в макете» */


/* Fonts */

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}


/* скрыла пока что так заголовки, которые не будут выводиться */

.visually-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}


/* General */

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: var(--white);
    color: var(--dark);
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.main-container {
    flex-grow: 1;
}

.btn-more {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21.13px;
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    text-align: center;
}

.btn-more::after {
    display: block;
    position: absolute;
    content: " ";
    top: 35%;
    width: 100%;
    height: 8px;
    background-color: var(--yellow);
    z-index: -1;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: var(--black);
}


/* Header */


/* Формы пока что не трогала */


/* Общее */

.header-top {
    min-height: 300px;
    margin-top: 40px;
    background-color: var(--yellow);
    color: var(--black);
}

.header-top-catalog {
    min-height: 186px;
}

.header-inner-container {
    width: 1040px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    bottom: 22.61px;
}

.header-navigation a {
    text-decoration: none;
    color: var(--black);
}

.header-logo img {
    display: block;
}

.header-logo {
    margin-bottom: 40px;
    width: 145px;
}


/* Верхняя строка header-меню */

.header-top-nav {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.header-top-nav-catalog {
    margin-bottom: 0;
}

.header-top-nav-left {
    display: flex;
    align-items: center;
}

.header-search {
    width: 517px;
}

.header-top-nav-left a {
    margin-left: auto;
}

.header-login,
.header-basket,
.header-compare {
    position: relative;
}

.header-login::before {
    display: block;
    content: "";
    width: 15px;
    height: 12px;
    background-image: url('../images/icons/header/login-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 9px;
    left: -20px;
}

.header-top-nav-right,
.header-top-nav-right-catalog {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    min-width: 240px;
}

.header-top-nav-right li:not(:last-child) {
    margin-right: 61px;
}

.header-top-nav-right-catalog li:not(:last-child) {
    margin-right: 51px;
}

.header-top-nav-right-catalog {
    min-width: 300px;
}

.header-compare::before {
    display: block;
    content: "";
    width: 10px;
    height: 12px;
    background-image: url('../images/icons/header/compare-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 5px;
    left: -15px;
}

.header-basket::before {
    display: block;
    content: "";
    width: 13px;
    height: 21px;
    background-image: url('../images/icons/header/basket-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 5px;
    left: -20px;
}

.header-basket::after {
    display: block;
    content: "2";
    width: 21px;
    height: 21px;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -35px;
    font-size: 14px;
}


/* Вторая строка в header-меню */

.header-undertop {
    display: flex;
    flex-wrap: wrap;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21.13px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.dropdown {
    margin-right: auto;
    display: flex;
    align-items: center;
    position: relative;
}

.header-undertop-right {
    max-width: 471px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}

.header-undertop-right li:not(:last-child) {
    margin-right: 40px;
}

.dropdown::after {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background-image: url('../images/icons/header/catalog-dropdown-icon.svg');
    position: absolute;
    left: calc(100% + 18px);
}


/* Header slider */

.header-slider h2,
.header-slider-list {
    margin: 0;
}

.header-slider-item {
    display: flex;
    list-style-type: none;
    position: relative;
    bottom: 66px;
}

.header-slider-image {
    margin-right: 40px;
    position: relative;
    bottom: 120px;
}

.header-slider-title {
    margin: 0;
    margin-bottom: 29px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: var(--black);
}

.header-slider-descr {
    margin: 0;
    margin-bottom: 61px;
}

.header-slider-content a {
    display: inline-block;
}

.header-slider-content .btn-more {
    margin-bottom: 59px;
}

.header-slider-parameters {
    display: flex;
}

.header-slider-parameter {
    margin-top: 12px;
    font-size: 16px;
    color: var(--dark)
}

.slider-parameters-number {
    font-size: 36px;
    color: var(--black);
}

.header-slider-parameters p {
    margin: 0;
}

.header-slider-parameters p:not(:last-child) {
    margin-right: 20px;
}

.slider-pagination-item {
    list-style: none;
}


/* Catalog */

.catalog {
    margin-bottom: 172px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.item {
    list-style-type: none;
    max-width: 160px;
}

.item:not(:last-child) {
    margin-right: 40px;
}

.item-img {
    width: 160px;
    height: 160px;
    background-color: var(--yellow);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 33px;
}

.item-1 {
    background-image: url("../images/index-catalog/catalog-1.svg");
}

.item-2 {
    background-image: url("../images/index-catalog/catalog-2.svg");
}

.item-3 {
    background-image: url("../images/index-catalog/catalog-3.svg");
}

.item-4 {
    background-image: url("../images/index-catalog/catalog-4.svg");
}

.item-5 {
    background-image: url("../images/index-catalog/catalog-5.svg");
}

.item-6 {
    background-image: url("../images/index-catalog/catalog-6.svg");
}

.item a {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 24px;
    text-decoration: none;
    color: var(--black);
    letter-spacing: -0.02em;
}


/* Delivery */

.delivery {
    background-color: var(--light);
    min-height: 289px;
    margin-bottom: 70px;
}

.delivery-inner {
    display: flex;
}

.delivery-inner img {
    position: relative;
    bottom: 72px;
}

.slider-right {
    width: 46%;
    margin: 0;
    padding: 0;
    padding-left: 116px;
}

.slider-conditions {
    display: flex;
    margin-right: 123.85px;
}

.slider-conditions dt {
    margin-bottom: 34px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: var(--black);
    font-weight: 800;
}

.slider-conditions dd {
    margin-left: 0;
}

.slider-left {
    border-right: 7px solid var(--black);
    padding-left: 0;
    position: relative;
    bottom: 160px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.delivery-slider-default {
    position: relative;
    z-index: 1;
    font-family: "Raleway", sans-serif;
    text-align: center;
    line-height: 21.13px;
    font-weight: 800;
    text-transform: uppercase;
    list-style-type: none;
    color: var(--black);
    letter-spacing: 0.2em;
    padding-right: 121px;
}

.slider-left li:not(:last-child) {
    margin-bottom: 55px;
}

.slider-left li:first-child {
    margin-bottom: 47px;
}

.delivery-slider-default::after {
    display: block;
    position: absolute;
    content: " ";
    top: 35%;
    width: 152px;
    height: 8px;
    background-color: var(--yellow);
    z-index: -1;
}

.delivery-slider-active {
    padding-top: 9px;
    padding-left: 20px;
    padding-bottom: 11px;
    background-color: var(--black);
    color: var(--yellow);
    font-family: "Raleway", sans-serif;
    line-height: 21.13px;
    font-weight: 800;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 0.2em;
    padding-right: 121px;
}


/* Delivery on order */

.delivery-on-order {
    margin-bottom: 70px;
}

.delivery-on-order-inner {
    display: flex;
    justify-content: space-between;
    background-color: var(--light);
}

.delivery-on-order p {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 23.48px;
    text-transform: uppercase;
    color: var(--black);
    letter-spacing: 0.2em;
}

.delivery-on-order-icon {
    width: 125px;
    height: 100px;
    background-color: var(--yellow);
    background-image: url("../images/icons/truck-icon.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.delivery-info-icon {
    width: 125px;
}

.delivery-on-order img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delivery-info-link {
    cursor: pointer;
}


/* About*/

.about {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.about-us {
    width: 40%;
    margin-right: 131px;
}

.about-us p,
.contacts p {
    margin: 0;
    margin-bottom: 30px;
}

.about-us ul {
    margin-top: 0;
    margin-bottom: 40px;
    padding-left: 26px;
}

.about-us h2,
.contacts h2 {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 48px;
}

.about-us li {
    font-weight: 700;
    line-height: 20px;
    color: var(--black);
    letter-spacing: -0.02em;
    list-style-type: none;
}

.about-us li:not(:last-child) {
    margin-bottom: 25px;
}

.about-us li::before {
    content: '\2022';
    color: var(--yellow-hover);
    position: relative;
    left: -26px;
}

.contacts address {
    font-style: normal;
    margin-bottom: 30px;
}

.contacts address p {
    margin-bottom: 0;
}

p.contacts-name {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
}

.contacts-tel {
    color: inherit;
    border-bottom: 1px solid var(--black);
    text-decoration: none;
}

.contacts p:last-of-type {
    margin-bottom: 40px;
}


/* Subscribe */

.subscribe {
    display: flex;
    flex-direction: column;
    padding-top: 74px;
    padding-bottom: 56px;
    position: relative;
    background-color: var(--light);
}

.subscribe h2 {
    margin: 0;
}

.subscribe-content {
    display: flex;
}

.subscribe-content h2 {
    width: 40%;
}

.subscribe-content p {
    width: 46%;
    margin-left: auto;
}

.subscribe-contacts {
    margin-top: auto;
    display: flex;
    align-items: center;
}

.subscribe-contacts p {
    margin-left: auto;
}

.subscribe-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    cursor: pointer;
    text-align: center;
}

.subscribe-contacts p::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('../images/icons/mark-icon.svg');
    background-repeat: no-repeat;
    block-size: cover;
}


/* Footer */

.footer-wrapper {
    background-color: var(--dark);
}

.footer-container {
    padding-top: 62px;
    padding-bottom: 61px;
    display: flex;
    flex-direction: column;
}

.footer-container a {
    color: var(--white);
    text-decoration: none;
}

.footer-container p {
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
}

.footer-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 62px;
}

.footer-content p {
    width: 20%;
}

.footer-tel {
    margin-left: auto;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21.13px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    list-style-type: none;
}

.footer-nav li:not(:last-child) {
    margin-right: 35px;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
}

.footer-partner {
    width: 20%;
    position: relative;
}

.footer-bottom img {
    display: block;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer-line {
    width: 20%;
}

.footer-socials {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer-socials li:not(:last-child) {
    margin-right: 15px;
}

.footer-socials a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

.facebook-icon {
    background-image: url("../images/icons/social/facebook-icon.svg");
    background-size: 9px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.instagram-icon {
    background-image: url("../images/icons/social/instagram-icon.svg");
    background-size: 16px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.twitter-icon {
    background-image: url("../images/icons/social/twitter-icon.svg");
    background-size: 14px auto;
    background-repeat: no-repeat;
    background-position: center;
}


/* Страница каталога catalog.html*/


/* General */

.main-inner {
    color: var(--black);
    background-color: var(--light);
}

.page-undertop-container {
    width: 1040px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


/* Header */

.header-top {
    margin-bottom: 35px;
}

.topmenuitem-disabled {
    opacity: 0.3;
}

.header-top-catalog {
    min-height: 186px;
}

.header-login-catalog {
    opacity: 30%;
}


/* Main */

.catalog-top {
    background-color: var(--white);
}

.catalog-head h1 {
    margin: 0;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: var(--black);
}

.catalog-products-container {
    display: flex;
    width: 1160px;
    background-color: var(--light);
}


/* Breadcrumbs */

.breadcrumbs {
    display: flex;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    padding-left: 0;
    margin-bottom: 35px;
}

.breadcrumbs-link {
    color: inherit;
    text-decoration: none;
}

.breadcrumbs-item {
    list-style-type: none;
    position: relative;
}

.breadcrumbs-item:not(:last-child) {
    margin-right: 36px;
}

.breadcrumbs-item:not(:last-child)::after {
    position: absolute;
    left: calc(100% + 16px);
    top: 30%;
    content: "";
    display: block;
    width: 4px;
    height: 7px;
    background-image: url('../images/icons/breadcrumbs-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* Фильтры + блок сортировки */

.products {
    width: 840px;
    background-color: var(--white);
}

.products h2 {
    margin: 0;
}

.catalog-filters {
    margin-right: 60px;
    margin-left: 60px;
    padding-top: 25px;
}

.catalog-sort {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    background-color: var(--light);
}

.catalog-filters-title,
.catalog-sort p {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.filter-first {
    border-bottom: 3px solid black;
    width: 200px;
}

.sort-control {
    background: var(--light);
    border: 1px solid var(--light);
}

.sort-mark {
    display: block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sort-top {
    background-image: url("../images/icons/sort-triangle-up.svg");
}

.sort-down {
    background-image: url("../images/icons/sort-triangle-down.svg");
}


/* Сетка с товарами */

.products-list {
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 32px;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 44px;
    background-color: var(--white);
}

.products-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
    list-style-type: none;
    max-width: 360px;
    min-height: 380px;
}


/* .products-item:nth-child(odd) {
    margin-right: 40px;
} */

.product-image {
    width: 360px;
    margin-bottom: 32px;
    display: block;
}

.product-item-bottom {
    display: flex;
    justify-content: space-between;
}

.product-price {
    line-height: 21.33px;
    font-weight: 400;
    color: var(--dark);
}

.product-name {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-decoration: none;
    color: inherit;
    width: 55%;
}

.load-more-btn {
    width: 100%;
    margin: 0;
    margin-bottom: 44px;
    display: block;
    text-align: center;
    padding: 18px 0;
    text-decoration: none;
    color: inherit;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: 3px solid #E5E5E5;
    background-color: var(--white);
}


/* Pagination */

.page-inner-container {
    width: 760px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.pagination-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--light-gray);
    margin-bottom: 78px;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.pagination-item {
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 25px;
}

.pagination-link,
.pagination-dots {
    text-decoration: none;
    color: rgba(68, 68, 68, 0.3);
    font-size: 16px;
    line-height: 20px;
}

.pagination-prev,
.pagination-next {
    color: var(--black);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.pagination-prev {
    margin-left: 25px;
}

.pagination-next {
    margin-right: 25px;
}